.last-movies {
    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        
        button {
            width: 120px;
        }
    }

}